/* Principal */

*{
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    text-decoration: none;
}

html, body{
    height: 100%;
}

main{
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
}

body{
    display: flex;
    flex-direction: column;
}

/* class btn */

.btn{
    background-color: #14597f;
    border: solid 1px #0b2d3d;
    border-radius: 4px;
    padding: 5px;
}

.btn:hover{
    background-color: #1fb5e9;
    transition-timing-function: ease-out;
    transition-delay: 0.2s;
}

/* class form-control*/

.form-control input{
    border: solid 1px #999999;
    border-radius: 4px;
    padding: 5px;
}

/* Entête */
header {
    height: 60px;
    background-color: #14597f;
    border-bottom: solid 1px #0b2d3d;
}

.logo{
    height: 60px;
    float: left;
}

nav{
    float: right;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.active{
    background-color: #1fb5e9;
    border-radius: 4px;
    padding: 10px;
}

nav ul li a{
    color: #ffffff;
}

.fa-shopping-cart{
    color: #14597f;
}

.count{
    background-color: #d9534f;
    color:#ffffff;
    border-radius: 5px;
    padding: 2px;
}

/* Pied de page */

footer {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    height: 70px;
    margin: auto;
    background-color: #eeeeee;
}
footer p{
    margin: auto;
    text-align: center;
}

/* Page d'accueil */

#home-img{
    float: right;
    width: 50%;
}

/* Page des produits */

/* Panneau principal */

.panneau-principal{
    width: 75%;
}

.panneau-principal h1 + p{
    text-align: right;
}

#products-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#products-list a{
    width: 32%;
    border: solid 1px #999999;
    border-radius: 4px;
}

#products-list a:hover{
    background-color: #f3f3f3;
    transition-timing-function: ease-out;
    transition-delay: 0.2s;
}

#products-list a img{
    width: 100%;
}

/* Barre latérale */

.barre-laterale{
    width: 25%;
    padding-right: 20px;
}

#product-categories, #product-criteria{
    border: solid 1px #999999; 
    border-radius: 4px;
}

#product-categories button, #product-criteria button{
    border-right: none;
    border-left: none;
    border-top: none;
}

#product-categories button:last-child, #product-criteria button:last-child{
    border-bottom: none;
}

.barre-laterale section div button{
    background-color: #ffffff;
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    border: solid 1px #999999;
}

.barre-laterale section div button:hover{
    background-color: #f3f3f3;
    transition-timing-function: ease-out;
    transition-delay: 0.2s; 
}

.barre-laterale section div .selected{
    background-color: #ddf2fb; 
}

/* Page d'un produit */

#product-page{
    display: flex;
}

.colonne-G{
    width: 50%;
}

.colonne-G img{
    width: 100%;
}

.colonne-D{
    width: 50%;
    display: inline-block;
    text-align: justify;
}

.colonne-D form{
    float: right;
}

#caracteristic{
    border-bottom: dashed 1px #999999;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

/* Page de contact */

#contact-page{
    display: flex;
    flex-wrap: wrap;
}

#ctc-top{
    width: 100%;
}

#col-ctc-g{
    width: 33.2%;
    height: 80%;
    text-align: center;
    border-top: solid 1px #999999;
    border-left: solid 1px #999999;
    border-bottom: solid 1px #999999;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#col-ctc-c{
    width: 33.2%;
    height: 80%;
    text-align: center;
    border-top: solid 1px #999999;
    border-bottom: solid 1px #999999;
}
#col-ctc-d{
    width: 33.2%;
    height: 80%;
    text-align: center;
    border-top: solid 1px #999999;
    border-right: solid 1px #999999;
    border-bottom: solid 1px #999999;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Page du panier d'achats */
#shop-cart-page{
    display: flex;
    flex-direction: column;
}

.shop-cart-page table tbody tr td{
    background-color: red;
}

/* Page de commande */
#order-page{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#order-page h1{
    width: 100%;
    background-color: cyan;
}
#order-page section h2{
    background-color: chartreuse;
}

#order-form section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.col-order div{
    flex-wrap: wrap;
    background-color: red;
}
